body {
  background-color: hsl(0, 0%, 98%);
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;

  background-color: hsl(0, 0%, 100%);
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  margin: 5vw 15vw;
  padding: 8vw;
  height: 15vh;
  width: 60vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* width: 75%; */
}
.icon-quote {
  margin-right: 20px;
}

.quote-button {
  height: 30px;
  border: none;
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  border-radius: 5px;
}
.quote-button:hover {
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}
.quote-button:focus {
  outline: none;
}
